<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
      <extensions>
        <behaviorExtensions>
          <add name="serviceKeyBehavior" type="qv_user_manager.ServiceKeyBehaviorExtensionElement, qv-user-manager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        </behaviorExtensions>
      </extensions>
      <behaviors>
        <endpointBehaviors>
          <behavior name="ServiceKeyEndpointBehavior">
            <serviceKeyBehavior/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <bindings>
          <basicHttpBinding>
              <binding name="BasicHttpBinding_IQMSBackend" closeTimeout="00:01:00"
                  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                  maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                  maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered"
                  useDefaultWebProxy="true" messageEncoding="Text">
                  <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                  <security mode="TransportCredentialOnly">
                      <transport clientCredentialType="Ntlm" proxyCredentialType="None"
                          realm="" />
                      <message clientCredentialType="UserName" algorithmSuite="Default" />
                  </security>
              </binding>
              <binding name="BasicHttpBinding_IQMS">
                  <security mode="TransportCredentialOnly">
                      <transport clientCredentialType="Ntlm" />
                  </security>
              </binding>
              <binding name="BasicHttpBinding_IQTService">
                  <security mode="TransportCredentialOnly">
                      <transport clientCredentialType="Ntlm" />
                  </security>
              </binding>
          </basicHttpBinding>
      </bindings>
    <client>
      <endpoint address="http://localhost:4799/QMS/Service" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSBackendService.IQMS"
          name="BasicHttpBinding_IQMS" behaviorConfiguration="ServiceKeyEndpointBehavior" />
      </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
